html{
    scroll-behavior: smooth;
}

body {
    margin-top: 50px;
}

body nav .navbar{
    background-color: rebeccapurple;
}

.jumbotron img {
    width: 25%;
}

.about:target::before{
    content: "";
    display: block;
    height: 80px;       /* fixed header height */
    margin: -80px 0 0;  /* negative fixed header height */
}

section {
    min-height: 420px;
}

footer {
    min-height: 50px;
    padding-top:12px;
}